<header class="header">
  <div class="container">
    <div class="header__mobile-box header__mobile-box--offset">
      <a href="" class="header__logo"
        ><img src="./images/logo.png" alt="logo" class="header__image"
      /></a>
      <button class="header__button">Записаться</button>
    </div>
    <div class="header__colum">
      <p class="header__subtitle">Требуются специалисты по уборке</p>
      <h1 class="header__title">Надежный доход и удобный график работы</h1>
    </div>
  </div>
</header>
